//
//	VARIABLES
// ------------------------------------------------------

$font-size-base: 100%;
$font-family: "Roboto", sans-serif;

$color-text-dark: #111;
$color-text-light: #f1f1f1;
$color-footer: #0b0a07;
$color-primary: #008bf8;
$color-secondary: #44ccff;

$debug: false;
$enable-rounded: true;
$animation-speed: 0.25s;

